body {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}
div#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: .5vh 1em;
    form, div.CV {
        border: 1px solid gray;
        border-radius: 5px;
    }
}
p {font-size: 0.9em};
i {color: #CD6666}
// form
input {width: 100%}
input.name, input.description {width: 100%}

form {
    div#form-workExperience, div#form-education {
        margin-top: 1em;
        div:first-child {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        div.inputSet {
            margin-top: 5em;
        }
    }
}
textarea {
    width: 100%;
}
div.deleteButton {
    display: flex;
    justify-content: flex-end;
}

// cv
div.CV {
    word-break: break-word;
    p {margin-bottom: 0.5em}
    div#cv-personalData {
        * {
            margin: 0
        }
        h1#cv-personalDataName {
            text-transform: uppercase;
            font-weight: 800;
            margin: 0;
            color: #333367;
        }
        #cv-personalDataPosition {color: #565656} // maybe we can use it as a var?
    }
    div#cv-workExperience, div#cv-education {
        h4 {
            color: #D98462;
            font-weight: 600;
            letter-spacing: -1px;
        }
        div {
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            padding-bottom: .25em;
            column-gap: 0.5em;
            
            *:first-child {
                margin-right: auto;
            }
            *:last-child {
                flex: 0 0 100%;
            }

        }
    }
    
}
p#cv-personalDataDescription {
    margin-top: .5em !important;
}



@media (min-width: 500px) {
    div#root {
        margin: 1em 2em;
    }
    input {width: 50%}
    
}
@media (min-width: 750px) {
    div#root {
        margin: 1.5em 3em;
    }
    input {width: 25%}
}
@media (min-width:1000px) {
    body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    div#root {
        margin-top: 0;
        margin-bottom: 0;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        form, div.CV {
            width: 30em;
            height: 94vh;
            overflow: scroll;
        }
    }
    input {width: 50%}
}
@media (min-width:1200px) {
    form, div.CV {
        width: 35em !important;
    }
}
@media (min-width:1350px) {
    form, div.CV {
        width: 40em !important;
    }
}