body {
    font-family: 'Inter', sans-serif;
}
div#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    form, div.CV {
        margin: 2em 4em;
        padding: 3em 2em;
        border: 1px solid black;
        width: 80vw;
    }
}
/* cv  */
div#cv-personalData { /* grid */
    color: teal;
    display: grid;
    grid-template-columns: 65% 35%;
    * {
        margin: 0
    }
    p#cv-personalDataName {
        grid-row-start: 1;
        grid-row-end: 3;
        text-transform: uppercase;
        font-size: 3em;
        font-weight: 800;
        margin: 0;
    }
    p#cv-personalDataPosition {
        grid-row: 3;
    }
    p#cv-personalDataDescription {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}
div#cv-workExperience {
    div {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        column-gap: 0.5em;
        *:first-child {
            margin-right: auto;
        }
        
        *:last-child {
            flex: 0 0 100%;
        }
        
    }
}

@media (min-width: 930px) {
    div#root {
        flex-direction: row;
        align-items: normal;
        justify-content: center;
    }
}
